header {
	width: 420px;
}
#content {
	width: 420px;
}
#primary-nav {
	width: 420px;
}
#header-image {
	width: 420px;
}
#home #secondary {
	width: 420px;
}
.items #content {
	width: 420px;
}
footer {
	width: 420px;
}
.exhibits #content > h1:first-of-type,
#exhibit-blocks,
#exhibit-page-navigation,
.exhibits.summary #primary {
	width: 400px;
}
.exhibit .description,
.exhibit .description ~ * {
	width: 420px;
}
