/* @group ----- Items ----- */
#item-metadata th {
  text-align: right;
  width: 30%;
  font-family: 'Droid Sans', sans-serif;
}

#item-metadata td, #item-metadata th {
  border-bottom: none;
}

.item-file img {
  max-width: 100%;
}

.items #content {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 300px;
  padding: 1.5em 10px;
}
.items #content:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#next-item {
  float: right;
}

.item-description a.show {
  padding-left: 5px;
  display: inline;
}

.sort-label {
  display: inline-block;
}

#sort-links-list {
  display: inline-block;
  margin: 0.75em 0 0.75em 10px;
}

.desc a:after, .asc a:after {
  font-family: "FontAwesome";
  display: inline-block;
  height: 0;
  width: 0;
  text-decoration: underline;
  margin-right: 10px;
}

.desc a:after {
  content: "\00a0\f0d8";
}

.asc a:after {
  content: "\00a0\f0d7";
}

ul.title-list {
  margin: 0;
}

.title-list li {
  font-size: 1.2em;
  line-height: 1.5em;
  font-style: italic;
}

#item-images {
  overflow: hidden;
  margin-bottom: 18px;
  margin-right: -10px;
}

.fullsize {
  margin-right: 10px;
}

#item-image img {
  width: 100%;
}

span.item-metadata {
  font-size: 60%;
  font-style: italic;
  font-weight: normal;
}

.items.show h3 {
  margin-bottom: 0.75em;
}

.item-col-left {
  width: 40%;
  float: left;
}

.item-col-right {
  width: 60%;
  float: right;
}

.item-center-bottom {
  width: 100%;
  display: inline-block;
}

table.item-metadata th {
  vertical-align: top;
  font-family: $droid_sans;
}
/* Items Classes*/
.element {
  overflow: hidden;
  clear: both;
  margin-bottom: 1.5em;
}

.browse .item {
  clear: both;
  border-bottom: 1px solid #eee;
  padding: 0.5em 0;
  float: left;
  width: 100%;
}

.item-pagination {
  clear: both;
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 18px;
}

.item-pagination a {
  text-decoration: none;
  font-weight: bold;
  float: left;
}

.item-pagination .next a {
  float: right;
  text-align: right;
}

.item .tags {
  clear: left;
  margin-left: 216px;
}

.item .item-file a {
  display: block;
  height: auto;
}
.item .item-file a img {
  height: auto;
  width: auto;
}

.item h2 {
  margin-top: 0;
}

#item-relations-display-item-relations .item-type {
  font-style: italic;
}

/* Tags Classes */
.tags li {
  display: inline;
}

/* Tag Clouds */
.hTagcloud ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  text-align: center;
}

.hTagcloud li {
  display: inline-block;
  margin-right: .75em;
  line-height: normal;
}

.hTagcloud input[type=checkbox] {
  display: none;
}

.hTagcloud input[type=checkbox] + label::before {
  content: "\f096";
  font-family: "FontAwesome";
  color: $dark_crimson;
  width: 1em;
  text-align: left;
  display: inline-block;
}
.hTagcloud input[type=checkbox]:checked + label::before {
  content: "\f046";
}

#multi-tag-submit {
  text-align: center;
  margin-top: 3em;
}

#multi-tag-submit a {
  border: 2px solid #666;
  border-radius: 5px;
  background-color: #ccc;
  color: #333;
  padding: .25em;
  font-size: 125%;
  text-decoration: none;
  font-family: "Droid Sans", sans-serif;
}

.popular a, .popular label {
  font-size: 120%;
}

.v-popular a, .v-popular label {
  font-size: 140%;
}

.vv-popular a, .vv-popular label {
  font-size: 180%;
}

.vvv-popular a, .vvv-popular label {
  font-size: 220%;
}

.vvvv-popular a, .vvvv-popular label {
  font-size: 260%;
}

.vvvvv-popular a, .vvvvv-popular label {
  font-size: 300%;
}

.vvvvvv-popular a, .vvvvvv-popular label {
  font-size: 320%;
}

.vvvvvvv-popular a, .vvvvvvv-popular label {
  font-size: 340%;
}

.vvvvvvvv-popular a, .vvvvvvvv-popular label {
  font-size: 360%;
}

/* @end */
/* @group ----- Items/Browse ----- */
.browse .item .item-meta-title,
.browse .item-meta .item-img {
  display: inline;
}
.browse .item .item-meta-title p {
  margin: 0.5em 0;
}
.browse .item h2 {
  margin: 0;
  padding-right: 1em;
}
.browse .item-meta .item-img {
  margin: 0;
}
.browse .item-img img {
  width: 94%;
}
.browse .item-meta {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  margin: 0;
  max-width: 100%;
}
.browse .item-meta p:first-of-type {
  margin-top: 0;
}
.browse .item-meta > div {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  margin: 0;
  width: 100%;
}
.browse .item-meta .item-description {
  margin-bottom: 1.5em;
  float: none;
}
.browse .item-meta .item-description:only-of-type {
  margin-bottom: 0;
}

#sort-links {
  float: right;
  list-style-type: none;
  padding: 0;
  display: block;
}
#sort-links ul {
  padding-left: 0;
}
#sort-links ul li {
  padding-left: 10px;
  display: inline-block;
}

#outputs {
  clear: both;
}

.item-img a {
  display: block;
}

/* @end */
/* @group ----- Items/Search ----- */
.field {
  margin-bottom: 1.5em;
}

.search-entry select {
  margin-bottom: 0.75em;
}

.search-entry input[type=text] {
  display: inline-block;
}

.remove_search {
  text-indent: -9999px;
  width: 18px;
  position: relative;
  height: 18px;
  color: #666;
}
.remove_search:after {
  content: "\f00d";
  font-family: "FontAwesome";
  text-indent: 0;
  text-align: center;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  line-height: 18px;
}

/* @end */
