#neatline-narrative {
  width: 400px;
  padding: 0.5em;
  position: absolute;
  z-index: 1;
  overflow-y: scroll;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  left: 0;
  h1 {
    color: lighten($crimson, 10%)
  }
  &.minimized {
    left: -400px;
  }
}

#minimize-button {
  background-color: $crimson;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  position: absolute;
  top: 5px;
  left: 380px;
  z-index: 2;
  transition: all 0.5s;
  font-size: 30px;
  text-align: center;
  padding-top: 9px;
  color: #fff;
  &.minimized {
    left: -10px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
  }
}

#static-bubble {
  right: 70px;
  left: initial;
}
.olControlPanZoom {
  display: none;
}
