$inactive-bg: rgba(255,255,255,0.3);
$active-bg: rgba(255,255,255,0.9);

#neatline-narrative {
  width: 300px;
  padding: 0.5em;
  position: absolute;
  z-index: 1;
  overflow-y: scroll;
  background-color: $inactive-bg;
  border-style: solid;
  border-width: 0 0 0 2px;
  border-color: black;
  color: #000;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  right: 0;
  h1 {
    color: lighten($crimson, 10%)
  }
  &.minimized {
    left: -400px;
  }
  &:hover {
    background-color: $active-bg;
  }
}

#static-bubble.selected {
  background-color: $inactive-bg;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  &:hover {
    background-color: $active-bg;
  }
}

#minimize-button {
  background-color: $crimson;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  position: absolute;
  top: 5px;
  left: 380px;
  z-index: 2;
  transition: all 0.5s;
  font-size: 30px;
  text-align: center;
  padding-top: 9px;
  color: #fff;
  cursor: pointer;
  &.minimized {
    left: -10px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
  }
}

body.neatline.fullscreen,
body.neatline.show {
  div#neatline-map {
    width: 100%;
    float: left;
  }
  div#neatline-narrative {
    width: 25%;
  }
}

body.neatline.show {
  div#neatline-narrative {
    width: 235px;
    height: 800px;
    right: 10px;
    padding: 0 1em;
  }
  div#neatline.Simile ~ #neatline-narrative {
    height: 640px;
  }
}

#neatline #simile {
  width: 62%;
  height: 23%;
}

#neatline.Simile #static-bubble {
  max-height: 74%;
}

#waypoints a.title.highlighted {
    background: #BEEAFF;
}

#embed-code {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255,0.5);
    padding: .3em;
}

#embed-code input {
    display: inline-block;
    background-color: transparent;
}

#neatline.Simile {
  &~ #embed-code {
    bottom: 20%;
  }
  #simile {
    border-style: solid;
    border-width: 2px 0 0 0;
    .timeline-ether-bg {
      background-color: transparent;
    }
    .timeline-band {
      background-color: transparent;
    }
  }
}

#neatline.Waypoints {
  #waypoints {
    border-left: solid 2px;
    border-bottom: solid 2px;
    overflow-y: scroll;
  }
}

#neatline.Text {
  .olControlLayerSwitcher {
    right: 25%;
  }
}

#neatline.Waypoints.Text {
  #waypoints {
    left: 0;
    width: 20%;
    border-left: none;
    border-right: solid 2px;
    direction: rtl;
  }
  #static-bubble {
    left: 23%;
  }
  .olControlPanZoom {
    left: 20%;
  }
}

#neatline.Waypoints.Simile {
  #waypoints {
    height: 80%;
    border-bottom: none;
  }
  #simile {
    width: 100%;
  }
}

body.neatline.fullscreen #neatline.Simile.Text {
  &~ #neatline-narrative {
    height: 80%;
  }
}

#neatline .widget {
    position: absolute;
    z-index: 999;
    background-color: $inactive-bg;
    transition: all 0.5s;
    &:hover {
      background-color: $active-bg;
    }
}
